$primaryColor:#1167b1; 
$fontColor: black; 


$menuColor: $primaryColor;

$titleSize: 14px;
$fontSize: 13px;
$textColor: white;
$defaultFont: 'Open Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$heavyWeight: 700;

